



.body-alquiler-ap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
   
}

/* Crea una capa de superposición sobre el fondo */
.body-alquiler-ap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    z-index: -1; /* Asegura que el overlay esté debajo del contenido */
}

.header-alquiler-ap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1; /* Asegura que el header esté por encima del fondo */
}

.titulo-header-alquiler-ap {
    color: white;
    font-size: 30px;
    font-weight: bold;
    filter: drop-shadow(10px 10px 1px rgba(0, 248, 12, 0.26));

}

.img-header-alquiler-ap {
    width: 100px;
    height: 100px;
    filter: drop-shadow(3px 3px 1px rgb(79, 248, 0));
}

.main-alquiler-ap {
    position: absolute;
    bottom: 20px; /* Coloca el main al final */
    left: 0;
    width: 100%;
    
   
    text-align: center;
    padding-top: 0;
    z-index: 1; /* Asegura que el main esté por encima del fondo */
}

.titulo-main-alquiler-ap {
    text-align: center;
    color: rgb(16, 19, 15);
    font-size: 24px;
    justify-content: center;
    width: 90%;
   margin-block-end: auto;
  
    max-width: 800px;
    align-items: center;
  
    margin-left: 150px;
   
    
}

/* Imágenes de la galería */
.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    margin-top: 50px;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

/* Efectos de sombras */
.img-baloncesto-alquiler-ap {
    box-shadow: 0px 0px 20px rgb(248, 13, 5);
    filter: drop-shadow(9px 9px 1px rgb(240, 3, 3));
}

.img-futbol-alquiler-ap {
    box-shadow: 0px 0px 30px rgb(18, 19, 18);
    filter: drop-shadow(10px 10px 1px rgb(254, 254, 255));
}

.img-danza-alquiler-ap {
    box-shadow: 0px 0px 30px rgb(83, 45, 223);
    filter: drop-shadow(10px 10px 1px rgb(143, 7, 177));
}

.img-juegos-alquiler-ap {
    box-shadow: 0px 0px 30px rgb(0, 181, 226);
    filter: drop-shadow(10px 10px 1px rgb(11, 186, 230));
}

.img-parques-alquiler-ap {
    box-shadow: 0px 0px 30px rgb(239, 243, 4);
    filter: drop-shadow(10px 10px 1px rgb(238, 234, 4));
   
}

.img-domino-alquiler-ap {
    box-shadow: 0px 0px 30px rgba(5, 29, 238, 0.658);
    filter: drop-shadow(10px 10px 1px rgba(28, 4, 248, 0.89));
}

.img-sapo-alquiler-ap {
    box-shadow: 0px 0px 30px rgb(255, 153, 0);
    filter: drop-shadow(10px 10px 1px rgba(212, 158, 7, 0.774));
}

.img-sena-alquiler-ap {
   
    filter: drop-shadow(10px 10px 1px rgb(15, 224, 43));
}

