.contenedor1 {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.bienvenida {
  grid-column: 1 / 2;
  text-align: center;
  background-color: #e8e9e8;
  padding: 20px;
  border-radius: 10px;
}

.foto {
  width: 88px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
}

.informacion {
  background-color: #e8e9e8;
  padding: 20px;
  border-radius: 10px;
}

.tarjeta {
  background-color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.imagen {
  width: 300px;
  height: 250px;
  object-fit: fill;
  border-radius: 10px;
}

.boton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton:hover {
  background-color: #096dd9;
}

.tarjeta p {
    word-wrap: break-word; /* Rompe las palabras largas */
    overflow-wrap: break-word; /* Soporte extra para navegadores */
  }
  

@media (min-width: 1024px) {
    .contenedor1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      gap: 20px;
    }
  
    .bienvenida, .informacion {
      grid-column: 1 / 2;
    }
  
    .tarjeta {
      grid-column: 2 / 3;
    }
  }
  
  @media (max-width: 1023px) {
    .contenedor1 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .tarjeta {
      width: 90%;
      max-width: 400px;
    }
  
    .imagen {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 768px) {
    .contenedor1 {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .bienvenida, .informacion {
      width: 100%;
      text-align: center;
    }
  
    .tarjeta {
      width: 100%;
    }
  
    .imagen {
      width: 100%;
      height: auto;
    }
  }
  